*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./Assets/abogados-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 1.5%;
}

.menu {
    background: #52796f;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
}

.logo {
    width: 80px;
    float: right;
    margin-top: -10px;
    
}

/* .menu_items{
    display: flex;
    list-style: none;

}

.menu_items li {
    border-radius: 10px;
   
}

.menu_items li a {
    padding: 7px 5px;
    text-decoration: none;
    border-radius: 10px;
}

.menu_items li a:hover {
    background-color: #52796f;
    transition: 2s; 
       
} */

span{
    font-weight: bolder;
}

h2{
    margin: 100px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    color: #52796f ;
}

#acerca h2{
    margin-top: 350px;
}

.contenido{
    display: flex;
    margin: 0 10px;
    line-height: 30px;
}

.icons{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 40px;
}

.form{
    display: flex;
    flex-direction: column;
}

input[type=text]{
    padding: 30px 0;
    border: 1px solid #cad2c5 ;
    border-left: none;
    border-right: none;
}


input[type=email]{
    padding: 30px 0;
    border: 1px solid #cad2c5 ;
    border-left: none;
    border-right: none;
}

textarea{
    padding: 30px 0;
    border: 1px solid #cad2c5 ;
    border-left: none;
    border-right: none;
}


input, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

  button{
      width: 30%;
      margin: 50px 30px;
      padding: 20px;
      background-color: transparent;
      border: 1px solid #000 ;
      border-radius: 10px;
      font-family: inherit;
      font-weight: 900;
      

  }



  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block; 
  }

  #inicio input{
      display: none;
  }

  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    margin-top: 20px;
    margin-left: 10px;
  }

  li {
    display: block;
    background: #52796f;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }

  li a{
      color: #fafafa;
      text-decoration: none;
  }