*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    background-image: url(./Assets/abogados.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-size: cover;
    
}

.menu {
    background: #000;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}

.logo {
    width: 150px;
}

 .menu_items{
    display: flex;
    list-style: none;
    margin-right: 20px;

}

.menu_items li {
    border-radius: 10px;
    margin: 0 5px;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.menu_items li a:hover {
    background-color: #6b705c80;
    transition: 4s;
     
} 

#acerca{
    margin-top: 0px;

}
    


#contacto{
    padding: 100px;
    background-color: #fff;
} 